 /* index_head */
  /* 头部的高 */
  #index .van-nav-bar__content {
    height: 70px;
  }

  #index .van-nav-bar__title {
    height: 30px;
    line-height: 30px;
    font-size: 25px;

  }

  #index .van-nav-bar__right {
    right: 5px;
    font-size: 20px;
  }

  #index .van-icon {
    color: #000;
    font-size: 30px;
    margin-right: 5px;
  }